@import url("https://use.typekit.net/bnp0bdu.css");
@import url("https://use.typekit.net/bnp0bdu.css");

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

/**
   * Firefox specific rule
   */
@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

body {
  overflow-x: hidden;
  background-image: url(/img/background.svg);
  background-size: 120%;
  background-position-x: -10vw;
  margin: 0;
  padding: 0;
}
header {
  height: 100vh;
}

#logo {
  width: 17vw;
}

h1 {
  font-family: termina, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #f7f7f7;
  text-align: center;
  font-size: 8vw;
}
a {
  font-family: termina, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.35vw;
  text-decoration: none;
  color: #78dede;
}
#box {
  background-color: #f7f7f7;
  width: 20vw;
  text-align: center;

  margin: 3vw;
  padding: 0.3vw;
  box-shadow: 10px 5px 5px #dad7d7;
}
#box:hover {
  cursor: pointer;
  animation: zoom;
  animation-fill-mode: forwards;
}

@keyframes zoom {
  to {
    transform: scale(0.99);
  }
}

h3 {
  font-family: termina, sans-serif;
  font-weight: 600;
  color: #78dede;
  font-size: 1.8vw;
}

p {
  font-family: termina, sans-serif;
  font-style: normal;
  font-weight: 400;
}

#circle {
  top: -25vw;
  position: absolute;
  width: 74vw;
  left: 32vw;
}
#photo {
  position: absolute;
  width: 44vw;
  left: 22vw;
  top: 12vw;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  max-width: 95%;
}
.nr1 {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

#bubbles {
  margin-top: 8vw;
}

.text {
  margin-top: 7vw;
  text-align: right;
}

.text2 {
  margin-top: 7vw;
  text-align: left;
}

#bubbles {
  margin-left: 5vw;
  margin-right: 5vw;
}

#screen {
  display: inline-block;
  position: relative;
}
#playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96px;
  height: 96px;
}

.hidden {
  display: none;
}

.obrazek {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin: 0;
  padding: 0;
  background-color: #78dede;
  display: flex;
  justify-content: flex-end;
}

button {
  display: block;
  padding: 0.5vw;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  color: #78dede;
  background-color: #f7f7f7;
}

input {
  display: block;
  margin: 1.5vw;
  padding: 0.7vw;
}

#form_container {
  position: relative;
  margin: 10vw;
  background-color: #f7f7f7;
  border: solid;
  border-color: #78dede;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 5%;
}

#line {
  position: absolute;
  left: 47%;
  top: 20%;
  height: 17vw;
}

footer img {
  width: 3.5vw;
  padding: 0.6vw;
}

footer p {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

ul {
  list-style: circle;
  padding-left: 0.5vw;
  margin-top: -0.6vw;
  margin-left: 0.7vw;
}

li {
  margin: 0;
  padding: 0.2vw;
  font-family: termina, sans-serif;
  font-weight: 200;
  font-size: 0.85vw;
}
