@import url("https://use.typekit.net/bnp0bdu.css");
@import url("https://use.typekit.net/bnp0bdu.css");

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

/**
   * Firefox specific rule
   */
@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

body {
  overflow-x: hidden;
  background-image: url(/Me-Mover/img/background.svg);
  background-size: 120%;
  background-position-x: -10vw;
  margin: 0;
  padding: 0;
  height: 270vw;
}
header {
  height: 100vh;
}

#logo {
  width: 17vw;
}

h1 {
  font-family: termina, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #f7f7f7;
  text-align: center;
  font-size: 8vw;
}
a {
  font-family: termina, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6vw;
  text-decoration: none;
  color: #fff;
}
#box {
  position: relative;
  width: 27vw;
  text-align: center;
  margin-top: -25vw;
  margin-left: 60vw;
  padding: 1vw 1.5vw;
  box-shadow: 0px 2px 5px #2f313138;
  background-color: #78dede;
  border-radius: 50px;
  text-align: center;
  font-weight: 400;
}
#box:hover {
  cursor: pointer;
  animation: zoom;
  animation-fill-mode: forwards;
}

@keyframes zoom {
  to {
    transform: scale(0.99);
  }
}

h3 {
  font-family: termina, sans-serif;
  font-weight: 600;
  color: #78dede;
  font-size: 1.8vw;
}

p {
  font-family: termina, sans-serif;
  font-style: normal;
  font-weight: 400;
}

#circle {
  top: -25vw;
  position: absolute;
  width: 74vw;
  left: 32vw;
}
#photo {
  position: absolute;
  width: 44vw;
  left: 22vw;
  top: 12vw;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  max-width: 95%;
}
.nr1 {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

#bubbles {
  margin-top: 8vw;
}

.text {
  margin-top: 3vw;
  text-align: right;
  margin-right: -8vw;
}

.text2 {
  margin-top: 3vw;
  text-align: left;
  margin-left: -8vw;
}

#bubbles {
  margin-left: 5vw;
  margin-right: 5vw;
}

#screen {
  display: inline-block;
  position: relative;
}
#playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96px;
  height: 96px;
}

.hidden {
  display: none;
}

.obrazek {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
}

footer {
  margin: 0;
  padding: 0;
  background-color: #78dede;
  display: flex;
  justify-content: center;
}

button {
  display: block;
  padding: 0.3vw;
  width: 15vw;
  color: #fff;
  border: 1px solid #fff;
  background-color: #78dede;
  border-radius: 50px;
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
}

button:hover {
  color: #78dede;
  border: 0px solid #fff;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 48, 54, 0.3);
}

input {
  display: block;
  margin: 1vw;
  padding: 0.8vw;
}

#form_container {
  position: relative;
  background-color: #78dede;
  border: none;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 5%;
  color: #fff;
}

#form_container h3 {
  color: #fff;
  font-size: 2vw;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30vw;
  margin-top: 1vw;
}

.formbox {
  border-radius: 50px;
  width: 20vw;
  height: 13px;
  border: 0;
  resize: vertical;
  color: #0b6969;
  text-align: center;
  font-weight: 400;
}

.formbox:hover {
  box-shadow: 0 0 5px rgba(0, 48, 54, 0.3);
}

#line {
  position: absolute;
  left: 47%;
  top: 20%;
  height: 17vw;
}

#msg {
  margin-left: 15vw;
  margin-top: -5px;
}

footer img {
  width: 3vw;
  margin-right: 20px;
  margin-bottom: 30px;
}

footer img:hover {
  width: 3.2vw;
}

ul {
  list-style: circle;
  padding-left: 0.5vw;
  margin-top: -0.6vw;
  margin-left: 0.7vw;
}
li {
  margin: 0;
  padding: 0.5vw;
  font-family: termina, sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
  color: #fff;
  font-family: termina, sans-serif;
}

a p {
  color: #78dede;
}

/**mobile version**/
@media screen and (max-width: 700px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  #logo {
    width: 40vw;
  }
  #box {
    margin-top: -5vw;
    width: 70%;
    padding: 1vw 2vw;
    margin-left: 12vw;
  }
  h1 {
    font-size: 19vw;
    margin-top: -9vw;
  }
  #photo {
    width: 90vw;
    top: 38vw;
    left: 8vw;
  }
  #circle {
    width: 130vw;
    top: -45vw;
    left: 44vw;
  }
  a {
    font-size: 5vw;
  }
  #bubbles {
    margin-top: 4vw;
  }
  #bubbles img {
    max-width: 90%;
  }

  .nr1 {
    margin-top: 10vh;
    margin-bottom: 15vh;
  }

  .obrazek {
    width: 70vw;
  }
  .text {
    padding: 0;
    margin-top: 20;
    margin-right: 5vw;
  }
  .text2 {
    padding: 0;
    margin-top: 20;
    margin-left: 5vw;
  }

  h3 {
    font-size: 3.2vw;
  }
  p {
    font-size: 2vw;
  }

  button {
    padding: 1vw;
    width: 50vw;
    height: 30px;
    color: #fff;
    border: 1px solid #fff;
    background-color: #78dede;
    border-radius: 50px;
    text-align: center;
    font-weight: 400;
    margin-top: 30px;
  }

  button:hover {
    color: #78dede;
    border: 0px solid #fff;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 48, 54, 0.3);
  }

  input {
    display: block;
    margin: 2vw;
    padding: 1vw;
  }

  #form_container {
    grid-template-columns: 100%;
    grid-column-gap: 5%;
    align-items: center;
  }

  #form_container h3 {
    color: #fff;
    font-size: 6vw;
    margin-top: 10vh;
  }

  form {
    align-items: center;
    margin-right: 10vw;
    margin-top: 1vw;
  }

  .formbox {
    width: 70vw;
    height: 30px;
  }

  #msg {
    margin-left: 20%;
  }

  footer img {
    width: 8vw;
    margin-top: 10vh;
    margin-right: 20px;
    margin-bottom: 30px;
    justify-content: center;
  }

  footer img:hover {
    width: 8.2vw;
  }

  ul {
    list-style: circle;
    padding-left: 0.5vw;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-bottom: 10vh;
  }
  li {
    margin: 0;
    padding: 0.5vw;
    font-family: termina, sans-serif;
    font-weight: 500;
    font-size: 3vw;
    color: #fff;
    font-family: termina, sans-serif;
  }
}
