@import url("https://use.typekit.net/bnp0bdu.css");
@import url("https://use.typekit.net/bnp0bdu.css");

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

/**
   * Firefox specific rule
   */
@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: termina, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #f7f7f7;
  text-align: center;
  font-size: 8vw;
}
h2 {
  font-family: termina, sans-serif;
  font-style: normal;
  font-weight: 200;
}

h3 {
  font-family: termina, sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #78dede;
}

#circle {
  top: -25vw;
  position: absolute;
  width: 74vw;
  left: 32vw;
}
#photo {
  position: absolute;
  width: 44vw;
  left: 22vw;
  top: 12vw;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 18em;
  max-width: 95%;
}
.nr1 {
  display: grid;
  grid-template-columns: auto auto;
}

#bubbles {
  margin-top: 8vw;
}

.text {
  margin-top: 5vw;
}
